
// Main-Colors -------------------------
$primary: white;
$secondary: #4e5d78;
$tertiary: #377dff;

// Colors -------------------------
$off-white: #f9fafb;
// -------------------------

// Borders --------------------
$border:#e3e5eb;
// ---------------------------

// Transitions -------------------------
$transition-100: .3s;
// -------------------------

// Shadows ---------------------

$shadow-1:rgba(149, 157, 165, 0.2) 0px 8px 24px;

// ---------------------------

// Sizes -------------------------
$nav-height: 3rem;
// -------------------------