
// Main-Colors -------------------------
$primary: white;
$secondary: #4e5d78;
$tertiary: #377dff;

// Colors -------------------------
$off-white: #f9fafb;
$border:#e3e5eb;
// -------------------------

// Borders --------------------
$seprator: 1px solid rgba(#000000, .1);
// ---------------------------

// Transitions -------------------------
$transition-100: .3s;
// -------------------------

// Shadows ---------------------
$shadow-1:rgba(149, 157, 165, 0.2) 0px 8px 24px;
// ---------------------------


// Sizes -------------------------
$nav-height: 5rem;
//---------------------------
$nav-width-xs: 8rem;
$nav-width-md: 20rem;
// -------------------------