@use "../../styles/Reusable.style.scss" as *;

.contacts {
    padding: 1rem;
    position: sticky;
    top: $nav-height;
    height: calc(100vh - $nav-height);
    right: 0;
    overflow: auto;
    display: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include media(lmd) {
        display: block;
    }
    .search {
        width: 95%;
        input {
            width: 100%;
            border-radius: .5rem;
            padding: .5rem;
            border: 1px solid $border;
            outline: none;
        }
    }

    .friends {
        .config {
            padding: 1rem;
            @include flex(false,center,space-between)
        }

        .chat {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    @include flex(false,center,space-between);
                    padding: 1rem;
                    gap: 1rem;
                    border-radius: 1rem;
                    
                    .avatar {
                        width: 2.5rem;
                        img {
                            border-radius: 50%;
                            width: 100%;
                        }
                    }

                    .name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 200px;
                    }


                    .status {
                        div {
                            padding: .3rem;
                            border-radius: 50%;
                        }
                        .online {
                            background-color: green;
                        }

                        .offline {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 55px;
                        }
                    }

                    &:hover {
                        background-color: $off-white;
                        box-shadow: $shadow-1;
                        transition: $transition-100;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}


