@use "../Reusable.style.scss" as *;

main {
    display: grid;
    grid-template-columns: 1fr;

    @include media(xs) {
        grid-template-columns: $nav-width-xs 1fr;
        
    }

    @include media(hmd) {
        grid-template-columns: $nav-width-md 1fr;
    }

    
}